<div class="modal fade" id="navModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img src="../../Images/general_Images/Outward dark_Logo.jpg" alt="logo">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-menu">
            <ul>
                <li><a href="../../pages/home/index.html">Home</a>
                    <ul>
                        <li><a href="../../pages/home/index.html">Main Page</a></li>
                        <li><a href="https://outward.fandom.com/wiki/Outward_Wiki" target="_blank">Official Outward Wiki</a></li>
                    </ul>
                </li>
                <li><a href="#">Heros</a>
                    <ul>
                        <li><a href="../../pages/sets/sets.html">Sets</a></li>
                        <li><a href="../../pages/skills/skills.html">Skills</a></li>
                    </ul>
                </li>
                <li><a href="#">Items</a>
                    <ul>
                        <li><a href="../../pages/weapons/weapons.html">Weapons</a></li>
                        <li><a href="../../pages/equipment/equipment.html">Equipment</a></li>
                        <li><a href="../../pages/consumables/consumables.html">Consumables</a></li>
                    </ul>
                </li>
                <li><a href="../../pages/locations/locations.html">Locations</a>
                </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>